# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python (компилированные файлы)
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные базы данных (если остались)
*.sqlite3

# Секретные переменные окружения и настройки
.env
.env.local

# Папки медиа-файлов (загрузки пользователей, картинок погрузчиков)
/media/
/staticfiles/

# Настройки редакторов кода
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj

questions.md
draft.py
